@font-face {
    font-family: "hanken";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

* {
    font-family: 'hanken';
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.big {
    font-size: 70px;
    padding-top: 20px;
}

.sub-head1 {
    opacity: 0.7;
}

.circle p {
    opacity: 0.5;
    font-weight: 500;
}

.circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.1));
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.top-div > * {
    position:static;
}

.top-div {
    text-align: center;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    height: 50vh;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.text-para p {
    opacity: 0.6;
    /* padding-top: 10px; */
    padding: 0px 20px;
}

.bottom-div {
    row-gap: 10px;
    padding: 5px 40px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.sub-head2 {
    opacity: 0.7;
}

button {
    height: 7vh;
    border-radius: 30px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.cards > * {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cards > * img {
    position: relative;
    top: 2px;
    right: 2px;

}

.cards > * p {
    position: relative;
    bottom: 3px;
    display: inline;
    font-weight: 700;
    font-size: 15px;
}

p.first-score {
    font-weight: 700;
}

.score p.normal-p {
    font-weight: 700;
    opacity: 0.5;
}

.card1 {
    background-color: hsla(0, 100%, 67%, 0.09);
}

#p1 {
    color: hsla(0, 100%, 67%);
}

.card2 {
    background-color: hsla(39, 100%, 56%, 0.09);
}

#p2 {
    color: hsla(39, 100%, 56%);
}

.card3 {
    background-color: hsla(166, 100%, 37%, 0.09);
}

#p3 {
    color: hsla(166, 100%, 37%);
}

.card4 {
    background-color: hsla(234, 85%, 45%, 0.09);
}

#p4 {
    color: hsla(234, 85%, 45%);
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
    }

    .top-div {
        border-radius: 30px;
        width: 20rem;
        z-index: 2;
        grid-row-start: 1;
        grid-column-start: 1;
        height: 425px;
    }

    .bottom-div {
        height: 425px;
        width: 15rem;
        border-radius: 0px 30px 30px 0px;
        box-shadow: 10px 10px 20px hsl(221, 100%, 96%);
        grid-row-start: 1;
        grid-column-start: 1;
        margin-left: 310px;
    }

    button:hover {
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        cursor: pointer;
    }

}
